.box-layout {
  align-items: center;
  background: url("./images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, 0.15);
  padding: $l-size $m-size;
  text-align: center;
  width: 30rem;
}

.box-layout__title {
  margin-bottom: 1rem;
  line-height: 1;
}
